.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# .gitignore
application.properties
application-aws.properties

### IntelliJ IDEA ###
# 파일 삭제
git rm --cached application.properties

# 변경 사항 커밋
git commit -m "bebig-40 build : initial folder settings, delete application.properties"

# GitHub로 푸시
git push origin main

.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store