<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <typeAlias alias="UserVo" type="beBig.vo.UserVo"/>
        <typeAlias alias="PostVo" type="beBig.vo.PostVo"/>
        <typeAlias alias="PersonalMonthlyMissionVo" type="beBig.vo.PersonalMonthlyMissionVo"/>
        <typeAlias alias="PersonalDailyMissionVo" type="beBig.vo.PersonalDailyMissionVo"/>
        <typeAlias alias="MissionVo" type="beBig.vo.MissionVo"></typeAlias>
        <typeAlias alias="MonthlyMissionResponseDto" type="beBig.dto.response.MonthlyMissionResponseDto"></typeAlias>
        <typeAlias alias="DailyMissionResponseDto" type="beBig.dto.response.DailyMissionResponseDto"></typeAlias>
        <typeAlias alias="AccountVo" type="beBig.vo.AccountVo"></typeAlias>
        <typeAlias alias="DepositProductVo" type="beBig.vo.DepositProductVo"></typeAlias>
    </typeAliases>
</configuration>