<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="beBig.mapper.AccountMapper">

    <select id="findAccountById" parameterType="String" resultType="AccountVo">
        SELECT *
        FROM account
        WHERE account_connected_id = #{connectedId}
    </select>
    <!--주거래 은행 1개 조회-->
    <select id="findPrimaryBankId" parameterType="long" resultType="int">
        SELECT bank_id
        FROM account
        WHERE user_id = #{userId}
        GROUP BY bank_id
        ORDER BY COUNT(bank_id) DESC
        LIMIT 1
    </select>
    <!-- 주거래 은행을 제외한 모든 은행 조회 -->
    <select id="findAllBankIdsExceptPrimary" parameterType="int" resultType="int">
        SELECT bank_id
        FROM bank
        WHERE bank_id != #{primaryBankId}
    </select>



</mapper>
