<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="beBig.mapper.AccountMapper">

    <select id="findAccountById" parameterType="String" resultType="AccountVo">
        SELECT *
        FROM account
        WHERE user_id = #{userId}
    </select>

    <insert id="insertAccount" parameterType="beBig.vo.AccountVo">
        INSERT INTO account(account_num, bank_id, account_name, user_id)
        VALUES (#{accountNum}, #{bankId}, #{accountName}, #{userId})
    </insert>

    <select id="getBankByCode" resultType="beBig.vo.BankVo">
        SELECT *
        FROM bank
        WHERE bank_code_codef = #{bankCode}
    </select>
</mapper>
