<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="beBig.mapper.AssetMapper">
    <select id="findAccountNumByUserId" resultType="string">
        SELECT account_num
        FROM account JOIN user ON account.user_id = user.user_id
        WHERE account.user_id = #{userId}
    </select>

    <!-- 출금만 가져옴-->
    <select id="findTransactionsByAccountNum" resultType="TransactionVo">
        SELECT *
        FROM transaction JOIN account ON transaction.account_num = account.account_num
        WHERE transaction.account_num = #{accountNum}
        AND transaction.transaction_type='출금'
    </select>
</mapper>