<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="beBig.mapper.CommunityMapper">
    <insert id="insert" parameterType="PostVo" useGeneratedKeys="true" keyProperty="postId">
        INSERT INTO post (post_writer_no,post_title,post_content, post_category,post_writer_fin_type_code)
        VALUES (#{postWriterNo},#{postTitle},#{postContent},#{postCategory},#{postWriterFinTypeCode});
    </insert>

    <insert id="insertImage" parameterType="PostVo">
        INSERT INTO image(image_post_id,image_path)
        VALUES
            <foreach collection="postImagePaths" item="imagePath" separator=",">
                (#{postId},#{imagePath})
            </foreach>
    </insert>

    <select id="findAll" resultType="PostVo">
        SELECT *
        FROM post
        ORDER BY post_id DESC
    </select>
    <select id="findDetail" resultType="PostVo" parameterType="long">
        SELECT *
        FROM post
        WHERE post_id = #{postId}
    </select>
    <select id="findByPostCategoryAndFinTypeCode" resultType="PostVo" parameterType="map">
        SELECT *
        FROM post
        <where>
            <if test="postCategory != null">
                post_category = #{postCategory}
            </if>
            <if test="postWriterFinTypeCode != null">
                AND post_writer_fin_type_code = #{postWriterFinTypeCode}
            </if>
        </where>
        ORDER BY post_id DESC
    </select>
</mapper>