<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="beBig.mapper.CommunityMapper">
    <insert id="insert" parameterType="PostVo" useGeneratedKeys="true" keyProperty="postId">
        INSERT INTO post (post_writer_no,post_title,post_content, post_category,post_writer_fin_type_code)
        VALUES (#{postWriterNo},#{postTitle},#{postContent},#{postCategory},#{postWriterFinTypeCode});
    </insert>

    <insert id="insertImage" parameterType="PostVo">
        INSERT INTO image(image_post_id,image_path)
        VALUES
            <foreach collection="postImagePaths" item="imagePath" separator=",">
                (#{postId},#{imagePath})
            </foreach>
    </insert>

    <select id="findAll" resultType="PostVo">
        SELECT *
        FROM post
        ORDER BY post_id DESC
    </select>
    <select id="findDetail" resultType="PostVo" parameterType="long">
        SELECT *
        FROM post
        WHERE post_id = #{postId}
    </select>
    <select id="findByPostCategoryAndFinTypeCode" resultType="PostVo" parameterType="map">
        SELECT *
        FROM post
        <where>
            <if test="postCategory != null">
                post_category = #{postCategory}
            </if>
            <if test="postWriterFinTypeCode != null">
                AND post_writer_fin_type_code = #{postWriterFinTypeCode}
            </if>
        </where>
        ORDER BY post_id DESC
    </select>
    <select id="checkLike" resultType="int" parameterType="map">
        SELECT COUNT(*)
        FROM like_hits
        WHERE like_hits_user_no = #{postWriterNo}
        AND like_hits_post_id = #{postId}
    </select>
    <insert id="addLike" parameterType="map">
        INSERT INTO like_hits (like_hits_user_no, like_hits_post_id, like_hits_created_time)
        VALUES (#{postWriterNo}, #{postId}, NOW())
    </insert>
    <delete id="removeLike" parameterType="map">
        DELETE FROM like_hits
        WHERE like_hits_user_no = #{postWriterNo}
        AND like_hits_post_id = #{postId}
    </delete>
    <update id="updateLikeCnt" parameterType="long">
        UPDATE post
        SET post_like_hits = (SELECT COUNT(*) FROM like_hits WHERE like_hits_post_id = #{postId})
        WHERE post_id = #{postId}
    </update>
    <update id="updateLike" parameterType="map">
        UPDATE post
        SET post_like_hits = post_like_hits + #{likeCnt}
        WHERE post_id = #{postId}
    </update>
</mapper>