<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="beBig.mapper.MissionMapper">

    <!-- Personal Daily Mission 쿼리 -->
    <select id="getPersonalDailyMission" resultType="DailyMissionResponseDto" parameterType="long">
        SELECT pm.personal_daily_mission_id,
               m.mission_topic,
               pm.mission_id,
               pm.personal_daily_mission_completed,
               m.mission_type
        FROM user u
                 JOIN personal_daily_mission pm ON u.user_id = pm.user_id
                 JOIN mission m ON m.mission_id = pm.mission_id
        WHERE u.user_id = #{userId};
    </select>

    <!-- Personal Monthly Mission 쿼리 -->
    <select id="getPersonalMonthlyMission" resultType="MonthlyMissionResponseDto" parameterType="long">
        SELECT pm.personal_monthly_mission_id,
        m.mission_topic,
        pm.mission_id,
        pm.personal_monthly_mission_completed,
        m.mission_type
        FROM user u
        JOIN personal_monthly_mission pm ON u.user_id = pm.user_id
        JOIN mission m ON m.mission_id = pm.mission_id
        WHERE u.user_id = #{userId}  <!-- userId를 조건으로 추가 -->
        LIMIT 1;
    </select>

    <!-- Personal Monthly Mission 미션바꾸기 쿼리 -->
    <select id="completeMonthlyMission" parameterType="long">
        UPDATE personal_monthly_mission
        SET personal_monthly_mission_completed = 1 - personal_monthly_mission_completed
        WHERE personal_monthly_mission_id = #{personalMissionId};
    </select>

    <!-- Personal Daily Mission 미션바꾸기 쿼리 -->
    <select id="completeDailyMonthlyMission" parameterType="long">
        UPDATE personal_daily_mission
        SET personal_daily_mission_completed = 1 - personal_daily_mission_completed
        WHERE personal_daily_mission_id = #{personalMissionId};
    </select>

</mapper>
