<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="beBig.mapper.UserMapper">

    <!--userId로 사용자 정보로 조회하는 쿼리-->
    <select id="findByUserId" parameterType="Long" resultType="UserVo">
        SELECT *
        FROM user
        WHERE user_id = #{userId}
    </select>

    <!-- userLoginId로 사용자 정보를 조회하는 쿼리 -->
    <!--아이디 비밀번호 확인-->
    <select id="findByUserLoginId" parameterType="String" resultType="UserVo">
        SELECT *
        FROM user
        WHERE user_login_id = #{userLoginId}
    </select>

    <!-- 사용자 정보를 users 테이블에 삽입하는 쿼리 -->
    <insert id="insert" parameterType="UserVo">
        INSERT INTO user (user_id,
                          fin_type_code,
                          badge_code,
                          user_login_id,
                          user_name,
                          user_nickname,
                          user_password,
                          user_email,
                          user_gender,
                          user_birth,
                          user_age_range,
                          user_login_type,
                          user_mission_current_month_score,
                          user_mission_last_month_score,
                          user_connected_id,
                          user_intro,
                          user_salary)
        VALUES (#{userId},
                #{finTypeCode},
                #{userBadgeCode},
                #{userLoginId},
                #{userName},
                #{userNickname},
                #{userPassword},
                #{userEmail},
                #{userGender},
                #{userBirth},
                #{userAgeRange},
                #{userLoginType},
                #{userMissionCurrentMonthScore},
                #{userMissionLastMonthScore},
                #{userConnectedId},
                #{userIntro},
                #{userSalary})
    </insert>

    <!--아이디 중복체크-->
    <select id="isUserLoginIdDuplicated" resultType="boolean" parameterType="string">
        SELECT COUNT(*) > 0
        FROM user
        WHERE user_login_id = #{userLoginId}
    </select>

    <!--아이디 찾기-->
    <select id="findUserLoginIdByNameAndEmail" resultType="string" parameterType="map">
        SELECT user_login_id
        FROM user
        WHERE user_name = #{name}
          AND user_email = #{email}
    </select>

    <!-- 이메일과 이름으로 사용자 검색 후 비밀번호 업데이트 -->
    <update id="updatePasswordByUserLoginIdAndEmail" parameterType="map">
        UPDATE user
        SET user_password = #{userPassword}
        WHERE user_login_id = (SELECT user_login_id
                               FROM user
                               WHERE user_name = #{name}
                                 AND user_email = #{email})
          AND user_login_id = #{userLoginId}
    </update>

    <!-- 이메일과 LoginType으로 사용자 검색 후 있는지 여부를 리턴 -->
    <select id="findByEmailAndLoginType" parameterType="map" resultType="boolean">
        SELECT COUNT(*)
        FROM user
        WHERE user_email = #{email}
          AND user_login_type = #{loginType}
    </select>

    <!-- 약관 데이터를 조회하는 쿼리 -->
    <select id="getUtilTerms" resultType="beBig.vo.UtilVo">
        SELECT util_id AS utilId, util_title AS utilTitle, util_content AS utilContent
        FROM util
    </select>

    <select id="getUserIdByKaKaoId" resultType="Long" parameterType="string">
        SELECT user_id
        FROM user
        where user_login_id = #{userLoginId}
    </select>



</mapper>